@media print {
    body * {
        display: none !important;
    }

    .print-this, .print-this * {
        display: block !important;
    }

    #calculator {
        display: block !important;
    }

}
