@media print {
    body * {
        display: none !important;
    }

    .print-this, .print-this * {
        display: block !important;
    }

    #calculator, #calculator * {
        display: block !important;
    }

}

